.daily-calander {
	border: solid;
	width: 30em;
	height: 40em;
	margin: 0 auto;
	margin-top:.05em;
}

.currentDayAndMonth {
	margin:  0 auto;
	border: dotted;
	border-bottom: none;
	width: 30em;
	height: 6em;
	margin-top:3em;
}

#yearMonth {
	text-align: center;
	color: firebrick;
	font-size: 25px;
}

#date {
	text-align: center;
	color: blue;
	font-weight: bold;
	font-size: 20px;
}

