.daily-calendar {
	border: solid;
	width: 30em;
	height: 40em;
	margin: 0 auto;
	margin-top:.05em;
}

.currentDayAndMonth {
	margin:  0 auto;
	border: dotted;
	border-bottom: none;
	width: 30em;
	height: 6em;
	margin-top:3em;
}

